<!DOCTYPE html>
<html lang="en-US" class="background-100-e">
	<head>
		{% load static %}

		<title>Ajeng & Wizdan | Our Wedding</title>

		<!-- Compatibility -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta
		name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<!-- Crawler -->
		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />

		<!-- SEO -->
		<meta name="language" content="ID" />
		<meta name="title" content="Ajeng & Wizdan | Our Wedding" />
		<meta name="description" content="Minggu, 03 November 2024." />
		<meta name="keywords" content="Undangan, Undangan Digital, Invitation, Wedding Invitation" />
		<meta name="author" content="Wizdan M. G. S." />
		<meta name="copyright" content="Wizdan M. G. S." />
		<meta name="owner" content="Wizdan M. G. S." />
		<meta name="classification" content="Invitation" />
		<meta name="topic" content="Invitation" />
		<meta name="category" content="Invitation" />
		<meta name="reply-to" content="dev@wizdan.my.id" />
		<meta name="revisit-after" content="7 days" />
		<meta name="pageKey" content="guest-home" />

		<!-- MobileIE SFonts-->
		<meta http-equiv="cleartype" content="on" />

		<!-- Mobile viewport optimization -->
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />

		<!-- OpenGraph -->
		<meta name="og:title" content="Ajeng & Wizdan | Our Wedding" />
		<meta name="og:type" content="invitation" />
		<meta name="og:url" content="https://ajeng.wizdan.my.id" />
		<meta name="og:image" content="https://ajeng.wizdan.my.id/static/images/header-3.jpg" />
		<meta name="og:site_name" content="Ajeng & Wizdan | Our Wedding" />
		<meta
		name="og:description"
		content="Minggu, 03 November 2024."
		/>
		<meta name="og:email" content="dev@wizdan.my.id" />
		<meta name="og:country-name" content="Indonesia" />
		<meta property="og:type" content="invitation" />
		<meta property="og:title" content="Ajeng & Wizdan | Our Wedding" />
		<meta property="og:type" content="invitation" />
		<meta property="og:url" content="https://ajeng.wizdan.my.id" />
		<meta property="og:image" content="https://ajeng.wizdan.my.id/static/images/header-3.jpg" />
		<meta property="og:site_name" content="Ajeng & Wizdan | Our Wedding" />
		<meta
		property="og:description"
		content="Minggu, 03 November 2024."
		/>

		<script src="{% static 'bower_components/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'scripts/scroll.js' %}"></script>
		<script>
			$(function() {
				{% comment %} $("#invitation-content").css("visibility", "hidden"); {% endcomment %}
				$("#disc").hide();
				$("#bank-number-copied").hide();
				$("#message-sent").hide();
			})
		</script>

		<link rel="stylesheet" href="{% static 'bower_components/fontawesome/css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'bower_components/animate.css/animate.min.css' %}" />
		<link rel="stylesheet" href="{% static 'bower_components/minicolors/jquery.minicolors.css' %}" />
		<link rel="stylesheet" href="{% static 'bower_components/slick.js/slick/slick.css' %}" />
		<link rel="stylesheet" href="{% static 'bower_components/slick.js/slick/slick-theme.css' %}" />
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-custom.min.css' %}" />
		<link rel="stylesheet" href="{% static 'lib/linecons/style.css' %}" />
		<link rel="stylesheet" href="{% static 'lib/jarallax/jarallax.min.css' %}" />
		<link rel="stylesheet" href="{% static 'bower_components/countdown/countdown.css' %}" />
		<link rel="stylesheet" href="{% static 'styles/style.css' %}" />
		<link rel="stylesheet" href="{% static 'theme-custom.css' %}" />
		<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon'' %}" />

	<body class="state1 background-100-e">
		<div class="page-border bottom colors-e background-solid">
			<a href="#top" id="link-top" class="hover-effect">To <span class="highlight">Top</span></a>
		</div>
		<div class="page-border left colors-e background-solid">
		</div>
		<ul id="dot-scroll" class="colors-e background-solid"></ul>
		<div class="overlay-window map-overlay colors-h background-75-h">
			<div class="overlay-control background-90-g">
				<a class="cross" href="#"></a>
			</div>
			<div class="overlay-view">
				<div class="text-center">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11308.972317297335!2d107.11484117986508!3d-6.835674908613101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6853345b62c1bf%3A0xcf33dbde3a3084fa!2sVilla%20Pesona%20Cianjur!5e0!3m2!1sen!2sid!4v1728177471482!5m2!1sid!2sid" width="95%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
			</div>
		</div>
		<div class="overlay-window gift-overlay colors-h background-75-h">
			<div class="overlay-control background-90-g">
				<a class="cross" href="#"></a>
			</div>
			<div class="overlay-view">
				<div class="row">
					<div class="row">
						<div class="col-md-offset-4 col-md-4 col-md-offset-4">
							<div class="text-center">
								<div class="box border background-100-light">
									<img src="{% static 'images/icon/jago-syariah.svg' %}" width="200rem">
									<h3>503901849840</h3>
									<p class="lead colors-a"><b>a/n Ajeng Rizki Novianti</b></p>
									<button id="bank-number" class="button background-70-d border-heading-d heading-d" data-clipboard-text="503901849840">Salin No. Rekening</button>
									<p id="bank-number-copied" class="text-center text-smaller heading colors-a"><b>Tersalin!</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
		{% comment %} BEGIN: Page content {% endcomment %}
		<div id="invitation-preview">
			<section id="home">
				<div class="view">
					<img alt class="bg" src="{% static 'images/header-1.jpg' %}" /><img alt class="bg" src="{% static 'images/header-2.jpg' %}" /><img alt class="bg" src="{% static 'images/header-3.jpg' %}" />
					<div class="content home-wedding full-size colors-e background-55">
						<div class="container">
							<div class="row">
								<div class="col-md-6">
									
									<div class="textillate" data-textillate-options="{loop:true, in:{effect:'flipInY', reverse:false}, out:{effect:'flipOutY', reverse:false}}">
										<ul class="texts">
											<li>We Are Inviting You To</li>
										</ul>
									</div>
									<h1 class="heading text-left text-scribe">Our<br/>Wedding</h1>
									<div class="box border background-10-b">
										<h6 class="text-white"><strong>Kepada Yth.</strong></h6>
										<h4><b>{{ to }}</b></h4>
										<h6 class="text-white"><strong>Di Tempat</strong></h6>
									</div>
									<div class="big-separator"></div>
									<p><a href="#" id="open-invitation" class="button background-70-d text-white border fluid">Buka Undangan</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div id="invitation-content">
			<section id="profile">
				<div class="view">
					<div class="content colors-e background-solid">
						<div class="container">
							<div class="banner-cell">
								<img alt src="{% static 'images/icon/logo.png' %}" width="100rem"/>
							</div>
							<h3 class="text-arabic pb-2">وَمِنْ اٰيٰتِهٖٓ اَنْ خَلَقَ لَكُمْ مِّنْ اَنْفُسِكُمْ اَزْوَاجًا لِّتَسْكُنُوْٓا اِلَيْهَا وَجَعَلَ بَيْنَكُمْ مَّوَدَّةً وَّرَحْمَةً ۗاِنَّ فِيْ ذٰلِكَ لَاٰيٰتٍ لِّقَوْمٍ يَّتَفَكَّرُوْنَ</h3>
							<p class="text-center">
								"Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri, agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang. Sungguh, pada yang demikian itu benar-benar terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir."
								<br>
								(QS Ar-Rum: 21)
							</p>
						</div>
					</div>
				</div>
				<div class="view">
					<img alt class="bg" src="{% static 'images/bg-profile.jpg' %}" />
					<div class="content colors-h p-0">
						<div class="container-fluid">
							<div class="row pb-5">
								<div class="col-md-6 col-md-offset-3">
									<h3 class="text-arabic pb-2">بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ <br/>اَلسَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</h3>
									<p class="text-center">
										Dengan Rahmat dan Kasih Sayang <br/>
										Allah SWT Yang Telah Mempertemukan Kami :
									</p>
								</div>
							</div>
							<div class="row flex pb-2">
								<div class="col-xs-6 col-md-offset-2 col-md-4 pr-0">
									<div class="hover-overlay">
										<img alt="Wizdan" src="{% static 'images/pp-aa.jpg' %}" title="Wizdan" class="fluid-width img-padding">
										<div class="overlay background-90-b">
											<div>
												<p class="text-center heading-b">
													Sorry I have no sosmed
												</p>
												<div class="separator-small"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-4 px-0">
									<div class="caption">
										<h2 class="heading text-right text-scribe text-white pr-1 emphasis-scribe">The Groom</h2>
										<div class="text-right text-bottom pr-2">
											<h6>Wizdan</h6>
											<p>Mohammad Gibran Shodri, S.Tr.Kom.</p>
											<p class="text-white text-smaller">
												Putra pertama dari<br/>
												Bpk Mohammad Ihsan Sodri, S.Pd<br/>
												dan Ibu Ai Ratnasari, S.Pd.<br/>
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row flex pb-2">
								<div class="col-xs-6 col-md-offset-2 col-md-4 pr-0">
									<div class="caption">
										<h2 class="heading text-left text-scribe text-white pl-1 emphasis-scribe">The Bride</h2>
										<div class="text-left text-bottom pl-2">
											<h6>Ajeng</h6>
											<p>Rizki Novianti, S.Ds.</p>
											<p class="text-white text-smaller">
												Putri ketiga dari<br/>
												Bpk Uce Sopandi<br/>
												dan Neneh Supinah
											</p>
										</div>
									</div>
								</div>
								<div class="col-xs-6 col-md-4 px-0 pl-0">
									<div class="hover-overlay">
										<img alt="Riri" src="{% static 'images/pp-ajeng.jpg' %}" title="Riri" class="fluid-width img-padding">
										<div class="overlay background-90-b">
											<div>
												<p class="text-center heading-b">
													You can see me here
												</p>
												<div class="separator-small"></div>
												<p class="text-center">
													<a target="_blank" href="https://www.instagram.com/ajengr.nov/profilecard/?igsh=MTkyZjRuZng5ZjY5cg=="><i class="fa fa-instagram heading-b"></i></a>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% comment %} <div class="view">
					<img alt class="bg" src="{% static 'images/183.jpg' %}" />
					<div class="content colors-h p-0">
						<div class="container">
						</div>
					</div>
				</div> {% endcomment %}
			</section>
			<section id="event">
				<div class="view">
					<div class="content colors-e background-solid">
						<div class="container">
							<h2 class="pb-2 emphasis">03 November<span class="highlight"> 2024</span></h2>
							<div class="process">
								<div class="row process-row">
									<div class="col-md-6 process-step">
										<div class="process-box">
											<img alt src="{% static 'images/icon/rings.png' %}" width="100px" />
										</div>
										<p class="title">Akad</p>
										<p class="text-center">09.00 - 11.00</p>
									</div>
									<div class="col-md-6 process-step">
										<div class="process-box">
											<img alt src="{% static 'images/icon/drink.png' %}" width="100px"/>
										</div>
										<p class="title">Resepsi</p>
										<p class="text-center">11.00 - 14.00</p>
									</div>
									<div class="col-md-12 text-center">
										<h6>Villa Pesona <span class="highlight">Cianjur</h6>
										<p class="text-smaller">
											Perumahan Pesona Cianjur Indah Blok A1, Nagrak, Kec. Cianjur.
										</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center">
									<img alt src="{% static 'images/icon/pin.png' %}" width="100px"/>
								</div>
								<div class="col-md-12 text-center">
									<a class="map-open button background-lite-b border-heading-b heading-b" data-map-overlay=".map-overlay" href="#">Lihat lokasi</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="view">
					{% comment %} <img alt class="bg" src="{% static 'images/bg-countdown.jpg' %}" /> {% endcomment %}
					<div class="content colors-e background-solid">
						<div class="container">
							<h2 class="heading text-scribe pb-2">Save The Date</h2>
						</div>
						<div class="countdown-container">
							<div class="days-container">
								<div class="days"></div>
								<div class="days-label">days</div>
							</div>
							
							<div class="hours-container">
								<div class="hours"></div>
								<div class="hours-label">hours</div>
							</div>
							
							<div class="minutes-container">
								<div class="minutes"></div>
								<div class="minutes-label">minutes</div>
							</div>
							
							<div class="seconds-container">
								<div class="seconds"></div>
								<div class="seconds-label">seconds</div>
							</div>
						</div>
						<div class="container text-center pt-3">
							<a class="button background-lite-b border-heading-b heading-b"
							target="_blank" 
							href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=Pernikahan+Ajeng+%26+Wizdan&details=03+November+2024+di+Villa+Pesona+Cianjur&dates=20241103T090000/20241103T140000">
								Tambahkan ke Kalender
							</a>
						</div>
					</div>
				</div>
				<div class="view" id="numbers">
					<img alt class="bg" src="{% static 'images/bg-journey.jpg' %}" />
					<div class="content half-size colors-h">
						<div class="container text-center">
							<h2 class="heading text-scribe pb-2">Our Journey</h2>
							<div class="row ">
								<div class="col-md-3 pb-2">
									<h3 class="row heading text-scribe text-white">Pertemuan</h3>
									<p>
										Awal bertemu saat kelas 2 SMP tahun 2011. Kami menempuh sekolah yang sama dan selalu berpapasan pada saat perkumpulan organisasi sastra.
									</p>
								</div>
								<div class="col-md-3 pb-2">
									<h3 class="row heading text-scribe text-white">Pendekatan</h3>
									<p>
										Mulai kelas 2 SMA tahun 2012, kami semakin dekat. Kami masuk jurusan yang berbeda: IPA & IPS, berada di gedung yang berbeda, hingga kuliah dan kerja pun di kota yang berbeda. Namun, kami tetap bersama.
									</p>
								</div>
								<div class="col-md-3 pb-2">
									<h3 class="count row heading text-scribe text-white">Pelamaran</h3>
									<p>
										Bertahun-tahun bersama, akhirnya kami memutuskan untuk melangkah ke jenjang berikutnya. Alhamdulillah, kami melaksanakan prosesi lamaran tepat di tahun baru Islam 1446 H.
									</p>
								</div>
								<div class="col-md-3 pb-2">
									<h3 class="count row heading text-scribe text-white">Pernikahan</h3>
									<p>
										Atas Rahmat Allah SWT, Insyaallah kami akan melaksanakan prosesi pernikahan pada tanggal 03 November 2024. Bismillahirrahmanirrahim, kami melangkah bersama.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="moments">
				<div class="view">
					<div class="content no-bottom-padding colors-e background-solid">
						<div class="container">
							<h2 class="heading text-scribe pb-2">Our Gallery</h2>
						</div>
						<div class="gallery colors-h background-solid" data-default-group="all" data-overlay=".gallery-overlay">
							<div class="container-fluid">
								<div class="row">
									<div class="grid">
										<div class="item col-md-3 col-sm-4 col-xs-6" data-groups='["prewed"]'>
											<a href="#" class="hover-overlay">
												<img alt="Wizdan Bocil" src="{% static 'images/gallery/42.jpg' %}" />
											</a>
										</div>
										<div class="item col-md-3 col-sm-4 col-xs-6" data-groups='["prewed"]'>
											<a href="#" class="hover-overlay">
												<img alt="Wizdan Bocil" src="{% static 'images/gallery/63.jpg' %}" />
											</a>
										</div>
										<div class="item col-md-3 col-sm-4 col-xs-6" data-groups='["prewed"]'>
											<a href="#" class="hover-overlay">
												<img alt="Wizdan Bocil" src="{% static 'images/gallery/220.jpg' %}" />
											</a>
										</div>
										<div class="item col-md-3 col-sm-4 col-xs-6" data-groups='["prewed"]'>
											<a href="#" class="hover-overlay">
												<img alt="Wizdan Bocil" src="{% static 'images/gallery/137.jpg' %}" />
											</a>
										</div>
										<div class="item col-md-3 col-sm-4 col-xs-6" data-groups='["prewed"]'>
											<a href="#" class="hover-overlay">
												<img alt="Wizdan Bocil" src="{% static 'images/gallery/183.jpg' %}" />
											</a>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="comments">
				<div class="view">
					<div class="content colors-e background-solid">
						<div class="container">
							<h3 class="text-arabic">
								اَللَّهُمَّ إِنِّيْ أَسْأَلُكَ مِنْ خَيْرِهَا وَخَيْرِ مَا جَبَلْتَهَا عَلَيْهِ ، وَأَعُوْذَ بِكَ مِنْ شَرِّهَا وَشَرِّ مَا جَبَلْتَهَا عَلَيْهِ
							</h3>
							<p class="text-center">
								“Ya Allah, sesungguhnya aku mohon kepada-Mu kebaikan dirinya dan kebaikan yang Engkau tentukan atas dirinya. Dan aku berlindung kepada-Mu dari kejelekannya dan kejelekan yang Engkau tetapkan atas dirinya.” <br/>
								(H.R. Abu Dawud No. 1845)
							</p>
						</div>
					</div>
				</div>
				<div class="view">
					<img alt class="bg" src="{% static 'images/bg-wishes-1.jpg' %}" />
					<img alt class="bg" src="{% static 'images/bg-wishes-2.jpg' %}" />
					<div class="content full-size colors-h">
						<div class="container">
							<h2 class="heading text-scribe pb-2">Best Wishes</h2>
							<div class="row">
								<div class="col-md-6" style="padding-bottom: 1rem">
									<div class="text-left">
										<form class="ajax-form" id="message-form" data-message-class="colors-e background-95 border heading" method="post" novalidate="novalidate">
											{% csrf_token %}
											<div class="row">
												<div class="col-md-12 control-group">
													<div class="alt-placeholder">Nama</div>
													<input type="text" name="name" value="" placeholder="Nama" data-validation-required-message="Harap isi field berikut." required>
													<p class="help-block"></p>
												</div>
												<div class="col-md-12 control-group">
													<div class="alt-placeholder">Do'a & Ucapan</div>
													<textarea name="message" placeholder="Do'a & Ucapan" data-validation-required-message="Harap isi field berikut." required></textarea>
													<p class="help-block"></p>
												</div>
												<div class="col-md-12 form-actions">
													<div class="row">
														<div class="col-xs-6 col-md-8">
															<p id="message-sent" class="text-right link-e">Pesan terkirim. Terimakasih!</p>
														</div>
														<div class="col-xs-6 col-md-4">
														<div class="text-center">
															<input class="button background-lite-b border-heading-b heading-b" type="submit" value="Kirim Do'a">
														</div>
														</div>
													</div>
													
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-md-6">
									<div class="text-center">
										<p>
											Do'a Restu Anda merupakan karunia yang sangat berarti bagi kami. <br/>
											Dan jika memberi adalah ungkapan tanda kasih, <br/>Anda dapat memberi hadiah secara cashless.
										</p>
										<img alt src="{% static 'images/icon/gift.png' %}" width="70rem"/>
										<div class="pt-1">
											<a class="map-open button background-lite-b border-heading-b heading-b" data-map-overlay=".gift-overlay" href="#">
												Kirim Hadiah
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="view">
					<div class="content colors-e background-solid">
						<div class="container">
							<h2 class="heading text-scribe pb-2">Messages</h2>
							<div class="messages">
								<div class="row" id="message-list">
									{% for m in messages %}
										<div class="col-12 top-line messages-item">
											<h3 class="text-left text-scribe text-white">{{ m.name }}</h3>
											<p>{{ m.message }}</p>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% comment %} END: Page content {% endcomment %}

			{% comment %} BEGIN: Footer {% endcomment %}
			<footer class="page-transition non-preloading">
				<img id="disc" class="disc rotation" src="{% static 'images/icon/disc.svg' %}" alt="">
				<div class="view" id="turut-mengundang">
					{% comment %} <img alt class="bg" src="{% static 'images/bg-journey.jpg' %}" /> {% endcomment %}
					<div class="content half-size colors-h">
						<div class="container text-center">
							<h2 class="heading text-scribe pb-2">Turut Mengundang</h2>
							<div class="row ">
								<div class="col-xs-12 col-md-6 pb-2">
									<h3 class="row heading text-scribe text-white">Pihak Mempelai Pria</h3>
									<p>1. Engkos Kosasih Shodri</p>
									<p>2. Dr. Agam Supriyanta, M.M.Pd., M.H. (Plt. Kepala Sekolah SMAN 1 Cibeber)</p>
									<p>3. Rahmat Edya Mulyadi S. Pd, MM. (Kepala Sekolah SDN Mayak 1)</p>
								</div>
								<div class="col-xs-12 col-md-6 pb-2">
									<h3 class="row heading text-scribe text-white">Pihak Mempelai Wanita</h3>
									<p>1. Keluarga Besar Bpk. Ahmad Zakaria</p>
									<p>2. Keluarga Besar Bpk. Iyong (alm)</p>
									<p>3. Mayjend TNI (Purn.) Puguh Santoso, S.E., M.M.</p>
									<p>4. Mayjend TNI (Purn.) Wiyarto, S.Sos.</p>
									<p>5. Ir H Asep Hermawan</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="jarallax" data-jarallax data-video-src="mp4:{% static 'videos/thank-you-480.mp4' %}">
					<div class="view">
						<div class="content ull-size colors-h">
							<div class="container text-center">
								<h2 class="heading text-scribe pb-2">Thank You</h2>
								<p>
									Merupakan kehormatan bagi kami sekeluarga apabila Anda berkenan hadir.<br/><br/>
									Turut Berbagia, <br/>
									<em>— Keluarga Besar Ajeng & Wizdan —</em>
								</p>
								<h3 class="text-arabic">وَالسَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</h3>
							</div>
						</div>
					</div>
				</div>
				<p class="bottom text-center text-smaller text-white background-5-b pt-1 pb-1">
					© 2024 All Rights Reserved. <a href="https://resume.wizdan.my.id/" target="_blank" class="heading highlight">Wizdan M. G. S.</a>
				</p>
			</footer>
			{% comment %} END: Footer {% endcomment %}

		</div>

		<script>
		if (typeof(atob) == "undefined")
		{
			document.write(`<script src="{% static 'lib/stringencoders-v3.10.3/javascript/base64.js' %}"><\/script>`);
			var atob = function(x)
			{
				return base64.decode(x);
			}
		}
		</script>
		<script src="{% static 'bower_components/less.js/less.min.js' %}"></script>
		<script src="{% static 'lib/tween/tween.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'lib/modernizr-edited.js' %}"></script>
		<script src="{% static 'bower_components/jquery-cookie/jquery.cookie.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="{% static 'bower_components/jqBootstrapValidation/jqBootstrapValidation-1.3.7.min.js' %}"></script>
		<script src="{% static 'bower_components/minicolors/jquery.minicolors.min.js' %}"></script>
		<script src="{% static 'bower_components/slick.js/slick/slick.min.js' %}"></script>
		<script src="{% static 'bower_components/shufflejs/jquery.shuffle.min.js' %}"></script>
		<script src="{% static 'bower_components/textillate/assets/jquery.lettering.js' %}"></script>
		<script src="{% static 'bower_components/textillate/assets/jquery.fittext.js' %}"></script>
		<script src="{% static 'bower_components/textillate/jquery.textillate.js' %}"></script>
		<script src="{% static 'bower_components/countdown/countdown.js' %}"></script>
		<script src="{% static 'lib/prism/prism.js' %}"></script>
		<script src="{% static 'lib/jarallax/jarallax.min.js' %}"></script>
		<script src="{% static 'lib/jarallax/jarallax-video.min.js' %}"></script>
		<script src="{% static 'lib/howler.min.js' %}"></script>
		<script src="{% static 'lib/clipboard.min.jsm.js' %}"></script>
		<script>
		(function()
		{
			$('html, body').animate({scrollTop:0},500);
			setTimeout(function() {
				disableScroll();
			}, 600)
			var disableMobileAnimations = false;
			var isWin = navigator.appVersion.indexOf("Win") !== -1;
			if (isWin) $('html').addClass('win');
			var ua = navigator.userAgent.toLowerCase();
			var isChrome = ua.indexOf('chrome') > -1;
			if (isChrome) $('html').addClass('chrome');
			var isAndroidBrowser4_3minus = ((ua.indexOf('mozilla/5.0') > -1 && ua.indexOf('android ') > -1 && ua.indexOf('applewebkit') > -1) && !(ua.indexOf('chrome') > -1));
			if (isAndroidBrowser4_3minus) $('html').addClass('android-browser-4_3minus');
			var isSafari = !isChrome && ua.indexOf('safari') !== -1;
			if (isSafari) $('html').addClass('safari');
			var isMobile = false; //Change false to Modernizr.touch if you want to disable animations on touchscreen devices;
			if (isMobile)
			{
				$('html').addClass('mobile');
				if (disableMobileAnimations) $('html').addClass('poor-browser');
			}
			else
			{
				$('html').addClass('non-mobile');
			}
			if (isWin && isSafari)
			{
				$('html').addClass('flat-animation');
			}

			$('#bank-number').tooltip({
				trigger: 'click',
				placement: 'bottom'
			});

			// Clipboard
			var clipboard = new ClipboardJS('#bank-number');
			clipboard.on('success', function(e) {
				var btn = $(e.trigger);
				$("#bank-number-copied").fadeIn(500)
				setTimeout(function() {
					$("#bank-number-copied").fadeOut(500)
				}, 1000);
			});

			/* JARALLAX */
			$(".jarallax").jarallax({
				speed: 1,
				videoVolume: 0,
				});
			})();

			var sound = new Howl({
				src: ["{% static 'audio/background-audio.mp3' %}"],
				html5: true,
			});
			var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val()

			$("#open-invitation").click(function() {
				$("#disc").show();
				sound.play();
				enableScroll();
				$("#invitation-preview").fadeOut(1000);
				{% comment %} $("#invitation-content").css("visibility", "visible"); {% endcomment %}
				$("#invitation-content").fadeIn(1000);
			});

			$("#disc").click(function() {
				if(sound.playing()) {
					sound.pause();
					$("#disc").removeClass("rotation");
				} else {
					sound.play();
					$("#disc").addClass("rotation");
				} 
			});

			$("#message-form").submit(function (event) {
				event.preventDefault();
				const name = $("input[name=name]").val();
				const message = $("textarea[name=message]").val()
				if (name && message && csrfmiddlewaretoken) {
					$.ajax({
						type: "POST",
						url: "/message",
						data: {
							name,
							message,
							csrfmiddlewaretoken,
						},
						success: function (res) {
							$('#message-form').trigger("reset");
							$("#message-sent").fadeIn(500)
							setTimeout(function() {
								$("#message-sent").fadeOut(500)
							}, 5000);
							$("#message-list").prepend(`<div class="col-12 top-line messages-item">
								<h3 class="text-left text-scribe text-white">${res.name}</h3>
								<p>${res.message}</p>
							</div>`)
						}
					});
				}
				return false;
			});
		</script>
		<script src="{% static 'scripts/script-bundle.js' %}"></script>
		<script>
		if (Function('/*@cc_on return document.documentMode===9@*/')())
		{
			$('html').addClass('ie9');
		}
		if (Function('/*@cc_on return document.documentMode===10@*/')())
		{
			$('html').addClass('ie10');
		}
		if (!!navigator.userAgent.match(/Trident.*rv\:11\./))
		{
			$('html').addClass('ie11');
		}		
		</script>
	</body>
</html>